<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% for currency, amount in currencies.items() %}
            <p>{{ currency }}  {{ amount }}</p>
            {% endfor %}
    </body>
</html>