<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body class = "backcolor">
        {% for currency, amount in currencies.items() %}
            <p>{{ currency }}  {{ amount }}</p>
            {% endfor %}
    </body>
</html>
