.backcolor {
    background-color:lightgray;
}

.head {
	background-color: lightslategray;
	width: auto;
	height: 150px;
}

.logotext {
	border: 5px ridge #323232;
	position: absolute;
	top: 30px;
	left: 200px;
}

.logo {
	left: 5px;
	width: 180px;
	height: 150px;
}